/* Layout */

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    min-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #4d4d4d;
}

h2 {
    margin: 5px 0 15px 0;
    font-size: .75em;
    font-weight: normal;
    text-align: justify;
}

h3 {
    margin: 5px 0 5px 0;
    font-size: .75em;
    font-weight: normal;
    text-align: center;
}

p {
    margin: 3px 0 0px 0;
    font-size: .8em;
    font-weight: bold;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: steelblue;
}

.navigation {
    background-color: #fff;
    padding: 0em 1em 0em 1em;
    width: 200px;
    height: 100%;
    float: left;
}

.header {
    padding: 0.25em 0 0 1em;
    font-size: 1.6em;
    font-weight: 400;
    color: #696969;
}

.content {
    background-color: white;
    padding: 0 0 0 5px;
}

.footer {
    font-size: 10px;
    color: #666666;
    margin-left: 0.5em;
}

.commentary {
    font: 900 1.125em 'Lato';
    color: #525252;
    height: 30px;
    width: auto;
    padding: 10px 60px 5px 270px;
}

.commentary text {}

.chartBox {
    font-size: .75em;
    color: #4d4d4d;
    width: 100%;
    float: left;
    margin: 10px 0 10px 0;
}

.numStudents {
    color: steelblue;
}


/* Nav Chart */

.story {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font: 900 1em 'Lato';
    padding: 8px;
    margin: .5em 1em 1px 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    /*box-shadow: 0 0 16px 5px #ddd inset;*/
    width: 160px;
    overflow: hidden;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    background-color: #fefefe;
    position: relative;
}

.bar {
    opacity: .95;
}

.bar:hover {
    opacity: .5;
}

.axis {
    font: .75rem 'Lato', sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    stroke-dasharray: 2, 2;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}


/* d3 tooltip */

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: 1.125em;
    font-family: 'Lato', sans-serif;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: .625em;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.chartNote {
    font-family: 'Lato';
    font-size: .7rem;
    margin: 0 0 10 10;
    padding: 1px 0 0 0;
    float: right;
    color: #4d4d4d;
}


/* Toggle Button */

.checkboxText {
    font-size: .95em;
    margin: auto;
    float: left;
    color: #4d4d4d;
}

.box {
    width: 100%;
    margin: 1em 1em 0 1em;
}

#showNumberCheckbox {
    width: 19px;
    height: 19px;
}


/* Overview Button */

.overviewbutton {
    margin: 10px 0px 5px 0;
    padding: 3px;
    color: #4d4d4d;
}